{% extends "base.html" %}
{% block content %}
<div class="container mt-5 ">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('login.validaLogin') }}" method="post" class="needs-validation" novalidate>
                        <div class="form-group mb-3">
                            <label for="usuario" class="form-label">CPF</label>
                            <input placeholder="Digite seu CPF" name="usuario" type="text" class="form-control" id="usuario" value="abc" required>
                            <div class="invalid-feedback">
                                Por favor, digite seu CPF.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input placeholder="Digite sua senha" name="senha" type="password" class="form-control" id="senha" value="bBolinhas" required>
                            <div class="invalid-feedback">
                                Por favor, digite sua senha.
                            </div>
                        </div>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
