{% extends "base.html" %}
{% block title %}Funcionários{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <p class="h1"> Funcionários</p>
        <div>
          <a href="{{ url_for('funcionario.generate_pdf') }}" class="btn btn-primary"><i class="fa-solid fa-file-pdf"></i></a>
          <a href="{{ url_for('funcionario.formFuncionario') }}" class="btn btn-primary">Novo Funcionário </a>
        </div>
    </div>
    
    <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Grupo</th>
          </tr>
        </thead>
        <tbody>
          {% if result %}
          {% for row in result %}
          <tr>
            <th scope="row">{{ row['id_funcionario'] }}</th>
            <td>{{ row['nome'] }}</td>
            <td>{{ row['matricula'] }}</td>
            <td class="cpf">{{ row['cpf'] }}</td>
            <td class="telefone">{{ row['telefone'] }}</td>
            <td>{{ row['grupo'] }}</td>
            <td>
                <form action="{{ url_for('funcionario.formEditFuncionario') }}" method="POST" name="formEdit{{ row['id_funcionario'] }}">
                  <input type="hidden" name="id" value="{{ row['id_funcionario'] }}">
                  <button type="submit" name="formEditFuncionario" class='btn'> <i class="fas fa-edit"></i></button>
                </form>
            </td>
            <td>
              <form method='POST' name='jsDelete' id='jsDelete'>
                <input type='hidden' name='id' value="{{ row['id_funcionario'] }}">
                <button type='submit' name='formDeleteFuncionario' class='btn'><i class='fas fa-trash'></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
      </table>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js" integrity="sha512-a09SDu7oF3ZwLwzWr8X+J2U3lc//BrM8afGj39oBeZ4RZfE1eOR5Iq1P8t0N+ZpNz6K6slfz/nfUa44/EfPOzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function(){
    $('#cep').inputmask('99.999-999', { placeholder: '__.___-___' });
    $('#cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });
    $('#telefone').inputmask('(99) 99999-9999', { placeholder: '(__) _____-____' });
  });

  $("form[name='jsDelete']").submit(function (e) {
      // parar o envio para poder fazer manualmente
      e.preventDefault();
      Swal.fire({
          title: '', 
          text: "Deseja realmente excluir: " + $(e.target)[0][0].value,
          icon: 'warning', 
          showCancelButton: true,
          confirmButtonColor: '#3085d6', 
          cancelButtonColor: '#d33',
          cancelButtonText: 'Cancelar', 
          confirmButtonText: 'Sim'
      }).then((result) => {
          if (result.isConfirmed) {
              deletarFuncionario($(e.target)[0][0].value); // Retorna o valor que está no id
          }
      })
  })

  // sempre pega a url da barra de endereço
  $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
  
  function deletarFuncionario(idFuncionario) {
      $.post($SCRIPT_ROOT + "{{ url_for('funcionario.delete') }}", {
          id: idFuncionario
      }, function (data) {
          if (!data.erro) {
              Swal.fire({
                  title: '', 
                  text: 'ID' + data.msg.id + ', ' + data.msg.msg,
                  icon: 'success', 
                  showCancelButton: false,
                  confirmButtonColor: '#3085d6', 
                  cancelButtonColor: '#d33', 
                  confirmButtonText: 'OK'
              }).then((result) => {
                  if (result.isConfirmed) {
                      window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.formListaFuncionario') }}");
                  }
              })
          } else {
              Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
          }
      })
  }
</script>
{% endblock %}