{% extends "base.html" %}
{% block title %}Funcionários{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <p class="h1"> Funcionários</p>
        <a href="{{ url_for('funcionario.formFuncionario') }}" class="btn btn-primary">Novo Funcionário </a>
    </div>
    
    <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Matricula</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12331</td>
            <td class="cpf">123.123.534-23</td>
            <td class="telefone">49 99999-9900</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12331</td>
            <td>123.123.534-23</td>
            <td>49 99999-9900</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12331</td>
            <td>123.123.534-23</td>
            <td>49 99999-9900</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js" integrity="sha512-a09SDu7oF3ZwLwzWr8X+J2U3lc//BrM8afGj39oBeZ4RZfE1eOR5Iq1P8t0N+ZpNz6K6slfz/nfUa44/EfPOzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
  $('#cep').inputmask('99.999-999', { placeholder: '__.___-___' });
  $('#cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });
  $('#telefone').inputmask('(99) 99999-9999', { placeholder: '(__) _____-____' });
});
</script>
{% endblock %}