{% extends "base.html" %}
{% block title %}Produto{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <p class="h1"> Produtos</p>
        <a href="{{ url_for('produto.formProduto') }}" class="btn btn-primary">Novo Produto </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
                <th scope="col">Imagem</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
              <th scope="row">{{ row['id_produto'] }}</th>
              <td>{{ row['nome'] }}</td>
              <td class="telefone">{{ row['descricao'] }}</td>
              <td>{{ row['valor_unitario'] }}</td>
              <td>{{ row['foto'] }}</td>
              <td><i class="fas fa-edit"></i></td>
              <td><i class="fas fa-trash"></i></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}